name: Job Dependencies

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use node.js 
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install

      - name: Run tests
        run: npm tests

      - name: Build Project
        run: |
          mkdir dist
          echo "Build artifact created at $(date)" > dist/build.txt

      - name: Upload Build artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist-files
          path: dist

      - name: Deploty Project
        run: |
          echo "Deploying project..."
          ls -R  dist
          echo "Deployment succesful!"